@import "_functions.scss";

html {
    font-size: 14.8px;
    font-family: "Darker Grotesque", sans-serif;
    background-color: var(--bg);
    @apply text-black;

  }

  h1 {
    font-size: calcDimension(72, false, true);
    line-height:calcDimension(95, false, true);
    text-transform: uppercase;
    font-weight: bold;
    font-family: "azo-sans-web", sans-serif;
    letter-spacing: 0.1em;
  }

  @mixin text-h2 {
    font-size: calcDimension(45, false, true);

    line-height:calcDimension(49, false, true);
  }
  
  h2 {
    @include text-h2;
    font-family: "azo-sans-web", sans-serif;
    text-transform: uppercase;
   
  }

  .text-h2 {
    @include text-h2;
  }

  h3 {
    font-size: max(18px, calcDimension(53, false, true));
    line-height: max(25px, calcDimension(71, false, true));
  }

  h4 {
    font-size: max(18px, calcDimension(45, false, true));
    line-height: max(25px, calcDimension(61, false, true));
  }
  p {
    font-size: max(18px, calcDimension(28, false, true));
    line-height: max(20px, calcDimension(36, false, true));
  }
  .text-p2 {
    font-size: 12px;
    line-height: 12.96px;
  }
  
  @media (max-width: 768px) {
    html {
      font-size: 18.75px;
      line-height: 24px;
    }
    h1 {
      font-size: min(30px, calcDimension(27, true, true));
      line-height: min(35px, calcDimension(39, true, true));
    }
    h2 {
      font-size: min(14px, calcDimension(18.75, true, true));
      line-height:  min(25px, calcDimension(25, true, true));
      text-transform: unset;
    }
    h3 {
      font-size: calcDimension(17, true, true);
      line-height: calcDimension(23, true, true);
    }
    p {
      font-size:  max(12px, calcDimension(17, true, true));
      line-height: max(14px, calcDimension(23, true, true));
    }
    .text-p-sm {
      font-size: 17.14px;
      line-height: 23px;
    }
    .text-p2 {
      font-size: max(10px, calcDimension(10, true, true));
      line-height:max(12.96px, calcDimension(12.96, true, true));
    }
    .text-p3 {
      font-size: 11.72px;
      line-height: 15.89px; 
    }
  
  }

  @mixin pretty-scrollbar {

    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 50px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 50px;
      background-clip: content-box;
      background-color: rgba(255, 255, 255, 0.1);
      border: 2px solid transparent;
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  
}

.pretty-scrollbar {
  @include pretty-scrollbar
}